body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ebcea7d7;
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: #632e15;
  size: 80%;
  background-position: 0;
}
.fasttravel {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 30rem;
  margin-left: 30rem;
  display: flexbox;
  background: rgb(96, 100, 110);
  border-radius: 15px;
  margin: 0 auto;
  border-top: 20rem;
  border-bottom: 20rem;
  border-left: 120rem;
  border-right: 120rem;
}
.btn1 {
  display: flex;
  padding: 2rem 3rem;
  padding-left: 10%;
  padding-right: 10%;
  background: rgb(122, 117, 117);
  color: rgb(204, 204, 196);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  text-align: normal;
  justify-content: center;
  align-items: normal;
  position: relative;
  border-top: 2rem;
  border-bottom: 2rem;
  border-left: 20rem;
  border-right: 20rem;
}
.fasttraveltxt {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
video {
  width: 100%;
  justify-content: center;
}
html {
  font-size: 20px;
  background: url(https://i.pinimg.com/1200x/b9/5b/a0/b95ba01638181472a6e214464a7f7667.jpg)
    fixed;
  background-size: 80vh;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  margin-left: 10%;
  margin-right: 10%;
}
dl {
  margin-bottom: 5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
h1 {
  margin-top: 15rem;
}
img {
  margin-left: 5%;
  margin-right: 5%;
  position: static;
  width: 50rem;
  height: auto;
}
