body {
  margin-left: 400px;
  margin-right: 400px;
  background-color: #dbdbdb;
  margin-top: 200px;
  margin-bottom: 200px;
}
.fasttravel {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 30vw;
  margin-left: 30vw;
  display: block;
  background: rgb(96, 100, 110);
  border-radius: 15px;
  margin: 0 auto;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 120px;
  border-right: 120px;
}
.btn1 {
  display: flex;
  padding: 10px 20px;
  background: rgb(122, 117, 117);
  color: rgb(204, 204, 196);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fasttraveltxt {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
video {
  width: 60vw;
}
