table,
td,
th,
caption,
tr {
  border: 1px solid #000000;
  margin: 0;
  border-collapse: collapse;
}
table {
  width: 30rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

th,
td {
  text-align: center;
  align-content: center;
  align-items: center;
}

table td:nth-child(6),
table th:nth-child(6) {
  background-color: #d0e6ff;
}

table td:nth-child(7),
table th:nth-child(7) {
  background-color: #ffd6d6;
}

thead {
  font-weight: 700;
  font-size: larger;
}
caption {
  font-weight: 800;
  border-bottom: 0;
  font-size: large;
}
