.form {
  display: flex;
  width: 30rem;
  border-radius: 3vh;
  background-color: rgb(166, 224, 224);
  bottom: 10px 20px;

  padding: 20px;
  margin: 10rem auto;
  border-width: 10px;
  border: 10px outset rgb(211, 234, 255);
  outline: none;
}

label {
  display: block;
  outline: none;
}
input {
  outline: none;
  border-radius: 1vh;
  height: 2%;
  width: auto;
  margin-bottom: 2rem;
  transition:
    scale 150ms,
    box-shadow 150ms;
}

input:not(:disabled):hover,
input:not(:disabled):focus {
  scale: 1.02;
  box-shadow: 0 0 10px -3px #3333338e;
}

input:disabled {
  opacity: 0.4;
}

textarea {
  width: 22rem;
  resize: vertical;
  min-height: 2rem;
  outline: none;
  border-radius: 1vh;
  max-height: 300px;
  transition:
    scale 150ms,
    box-shadow 150ms;
}

textarea:not(:disabled):hover,
textarea:not(:disabled):focus {
  scale: 1.02;
  box-shadow: 0 0 10px -3px #3333338e;
}

textarea:disabled {
  opacity: 0.4;
}

form:focus {
  outline: none;
}
fieldset {
  border: none;
  margin: 0 auto;
}
html {
  font-family: sans-serif;
}
h2 {
  font-weight: 400;
}

.checkbox-label {
  padding-left: 22px;
}

.checkbox {
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked::after {
  background:
    url("./images/check-icon.svg") no-repeat center,
    #9e1fff;
}

.checkbox-text {
  margin-left: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  margin: 1rem auto;
  font-size: medium;

  background-color: #7fffd4;
  border-color: aqua;
  border-radius: 1vh;
  transition:
    scale 150ms,
    box-shadow 150ms;
}
button:not(:disabled):hover,
button:not(:disabled):focus {
  scale: 1.02;
  box-shadow: 0 0 10px -3px #3333338e;
  cursor: pointer;
}

.button:disabled,
.checkbox:disabled::after {
  opacity: 0.4;
  cursor: not-allowed;
}
