h1 {
  font-size: 50px;
}
body {
  margin-left: 350px;
  margin-top: 100px;
  margin-right: 350px;
}
p {
  margin-top: 20px;
  bottom: 20px;
  font-size: 30px;
}
img {
  margin-top: 60px;
  margin-bottom: 60px;
}
h2 {
  font-size: 45px;
}
video {
}
span {
  margin-right: 550px;
  font-size: 30px;
}
