body {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ebcea7d7;
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: #632e15;
  size: 80%;
  background-position: 0;
}

.mainh1 {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 800;
  display: flexbox;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}
.fasttravel {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flexbox;
  background: rgb(96, 100, 110);
  border-radius: 5vh;

  border-top: 3px;
  border-bottom: 3px;
  border-left: 3px;
  border-right: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30vh;
  padding: 1% 15% 1%;
}
.btn1 {
  display: flex;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgb(122, 117, 117);
  color: rgb(204, 204, 196);
  text-decoration: none;
  border-radius: 2vh;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: static;
  border-top: 2vh;
  border-bottom: 2vh;
  border-left: 2vh;
  border-right: 2vh;
  width: 10vh;
  height: 5vh;
  box-sizing: border-box;
  font-size: 3vh;
}
.fasttraveltxt {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  padding: 1%;
  font-size: 4vh;
  font-weight: 600;
}
video {
  width: 100%;
  height: auto;
  justify-content: center;
}
html {
  font-size: 20px;
  background: url(./fon.jpg) fixed;
  background-size: 80vh;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  margin-left: 10%;
  margin-right: 10%;
}
dl {
  margin-bottom: 5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
h1 {
  margin-top: 15rem;
}
img {
  margin: auto;
  position: static;
  width: 80%;
  height: auto;
}
